---
// Archivo: src/components/Cards.astro
const { title, description, icon, link } = Astro.props;
---

<a href={link} class="card p-4 bg-white border border-gray-200 rounded-lg shadow-lg transition transform hover:scale-105 hover:shadow-2xl">
  <div class="text-5xl mb-2">{icon}</div>
  <h2 class="text-xl font-bold mb-2">{title}</h2>
  <p class="text-gray-600">{description}</p>
</a>

<style>
  .card {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
  }
</style>
