---

---

<header class="bg-navy text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">PORTAFOLIOS</h1>
      <nav class="#001f3f p-4">
        <ul class="flex space-x-4">
          <li><a href="/" class="#001f3f">Sobre Mi</a></li>
          <li><a href="/Proyectos" class="#001f3f">Proyectos</a></li>
        </ul>
      </nav>
    </div>
  </header>
  